@media (min-width: 768px) {
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .container:nth-child(1) {
    margin: 0;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .container:nth-child(2) {
    margin: 0;
  }
  .container:nth-child(3) {
    margin: 0;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
